# Create at https://dash.cloudflare.com/profile/api-tokens
# Account permission: Workers Admin (all Workers)
# Zone permission, scoped to ahadandrehnuba.com: Workers Routes Write
# Zone permission, scoped to ahadandrehnuba.com: DNS Edit
# Account permission: Account Settings Read
CLOUDFLARE_API_TOKEN=

# The id in https://dash.cloudflare.com/<account-id>
CLOUDFLARE_ACCOUNT_ID=
